<{include file="header.html"}>
<div class='block'>
	<div class='title-nav'>站点统计</div>
	<p>
		当前共有 <span><{$count.article}></span> 篇文章， <span><{$count.comment}></span> 条评论， <span><{$count.sort}></span> 个分类。 <br/>点击下面链接快速开始:<br/><br/>
		<b><a href="/admin.php?c=Article&a=add">写文章</a> &nbsp;<a href="#">外观设置</a> &nbsp;<a href="#">插件管理</a> &nbsp;<a href="#">系统设置</a></b>
	</p>
</div>
<hr color='#EAEAEA'>
<div class='page-main-block'>
	<h2>最新文章</h2>
	<ul>
		<{foreach from=$article item = value}>
			<li><a href="/Article/show/id/<{$value.aid}>" title="<{$value.title}>" target='_blank'><{$value.title}></a></li>
		<{foreachelse}>
			<li><a>暂无文章</a></li>
		<{/foreach}>
	</ul>
</div>
<div class='page-main-block'>
	<h2>最新评论</h2>
	<ul>
		<{foreach from=$comment item = value }>
			<li><span><a href="/Article/show/id/<{$value.aid}>#comment-<{$value.cid}>" title="查看该评论上的文章" target='_blank'><{$value.poster}></a>：<{$value.content}>...</span> </li>
		<{foreachelse}>
			<span>暂无评论</span> 
		<{/foreach}>
	</ul>
</div>
<div class='page-main-block'>
	<h2>官方公告</h2>
	<ul>
		<li><a href="#">大声大声道这是我的第一篇文章！</a></li>
		<li><a href="#">这是我的第一篇文的时代章！</a></li>
		<li><a href="#">这是我第一篇文章！</a></li>
		<li><a href="#">都是这是我的打到第一篇文章！</a></li>
		<li><a href="#">这是我的第的时代一篇文章！</a></li>
		<li><a href="#">这是我的第一 篇文章！</a></li>
	</ul>
</div>
<!-- ss -->

<{include file="footer.html"}>